<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/svg/logo test4.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/site.webmanifest">
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- devicon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.9.0/devicon.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Henry Lodge</title>
  </head>
  <body>
    <div class="homepage">
      <div class="homepage-nav">
        <nav class="homepage-navbar navbar navbar-expand-md navbar-dark mb-5 container">
          <img style="position: absolute; left: 35px; top: -2px" width="125px" src="./img/svg/logo test4.png" alt="No Image Found">
            <button 
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarToggler"
                aria-expanded="false"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end burger-menu"
              id="navbarToggler"
            >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="#project-section">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-section">Contact Me</a>
                    </li>                                       
                </ul>
            </div>
        </nav>
      </div>
      <div class="homepage-whoami container">
        <div class="row">
            <div class="whoami-name col-12 col-lg-6">
                <h1>Hi, I'm <span>Henry</span></h1>
                <a style="color: #edece2" href="#project-section">
                  <img src="./img/svg/down arrow.png" alt="" class="whoami-svg">
                  View My Work
                </a>  
            </div>
            <div class="whoami-text col-12 col-lg-6">
              <code>
                <p class="code-divtag">
                    &#60div 
                    <span class="tag-class">
                      class=<span class="tag-class--name">"information"</span>
                    </span>
                    &#62
                  </p>

                  <p class="code-ptag">
                    &#60p 
                    <span class="tag-class">
                      class=<span class="tag-class--name">"about_me"</span>
                    </span>
                    &#62
                  </p>

                  <p class="code-p">A student learning to code.</p>
                  <p class="code-p">Learning Python, HTML, CSS.</p>     
                  <br>
                  <p class="code-p">I love to code.</p>             
                  <p class="code-ptag">&#60/p&#62 </p>
                  <p class="code-divtag">&#60/div&#62 </p>
              </code>
            </div>
        </div>
      </div>
      <main class="homepage-sections container">
        <section id="project-section" class="project-section project-list row">
          <div class="section-header project-section-header"></div>
          <!-- newsapp -->
          <div class="project news-project col-12 col-md-6">
            <div class="project-bar">
              <i></i>
            </div>
            <img src="./img/screenshots/medusa stock photo.png" alt="" class="project-img">
            <div class="project-overlay">
                <div class="project-info">
                  <div class="info--name">Medusa.exe</div>
                  <div class="info-btns">
                    <a
                      type="button"
                      class="btn btn-outline-primary project-btn info-btn"
                      href="https://github.com/HenryLodge/Medusa.exe"
                      target="_blank"
                    >
                      More Info
                    </a>
                    <!-- <a
                      type="button"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="btn btn-outline-primary project-btn demo-btn"
                      href="https://theweeklyextra.com/"
                    >
                      Live Demo
                    </a> -->
                  </div>
                </div>
              </div>
          </div>

          <!-- pokedex -->
          <div class="project pokedex-project col-12 col-md-6">
            <div class="project-bar">
              <i></i>
            </div>
            <img src="./img/screenshots/text editor stock photo.jpeg" alt="" class="project-img">
            <div class="project-overlay">
                <div class="project-info">
                  <div class="info--name">Text Editor</div>
                  <div class="info-btns">
                    <a
                      type="button"
                      class="btn btn-outline-primary project-btn info-btn"
                      href="https://github.com/HenryLodge/Text-Editor"
                      target="_blank"
                    >
                      More Info
                    </a>
                    <!-- <a
                      type="button"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="btn btn-outline-primary project-btn demo-btn"
                      href="https://slowpoke-dex.herokuapp.com/"
                    >
                      Live Demo
                    </a> -->
                  </div>
                </div>
              </div>
          </div>

          <!-- covid-19 map -->
          <div class="project covid-project  col-12 col-md-6">
            <div class="project-bar">
              <i></i>
            </div>
            <img src="./img/screenshots/music stock photo2.jpg" alt="" class="project-img">
            <div class="project-overlay">
                <div class="project-info">
                  <div class="info--name">Mp3 Player</div>
                  <div class="info-btns">
                    <a
                      type="button"
                      class="btn btn-outline-primary project-btn info-btn"
                      href="https://github.com/HenryLodge/MP3-Player"
                      target="_blank"
                    >
                      More Info
                    </a>
                    <!-- <a
                      type="button"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="btn btn-outline-primary project-btn demo-btn"
                      href="http://www.covid19trackmap.com/"
                    >
                      Live Demo
                    </a> -->
                  </div>
                </div>
              </div>
          </div>

          <!-- portfolio -->
          <div class="project portfolio-project col-12 col-md-6">
            <div class="project-bar">
              <i></i>
            </div>
            <img src="./img/screenshots/website stock photo4.jpg" alt="" class="project-img">
            <div class="project-overlay">
                <div class="project-info">
                  <div class="info--name">Portfolio Website</div>
                  <div class="info-btns">
                    <a
                      type="button"
                      class="btn btn-outline-primary project-btn info-btn"
                      href="https://github.com/HenryLodge/Portfolio-Website"
                      target="_blank"
                    >
                      More Info
                    </a>
                    <!-- <a
                      type="button"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="btn btn-outline-primary project-btn demo-btn"
                      href="index.html"
                    >
                      Live Demo
                    </a> -->
                  </div>
                </div>
              </div>
          </div>
        </section>

        <!-- <section id="skills-section" class="skills-section">
          <div class="section-header skills-header"></div> -->
          <!-- <div class="skills-heading frontend-heading">Front-End</div> -->
          <!-- <div class="skills-group frontend-skills ">              
            <i class="skill devicon-html5-plain" data-bs-toggle="tooltip" data-placement="top" title="HTML"></i>
            <i class="skill devicon-css3-plain" data-bs-toggle="tooltip" data-placement="top" title="CSS"></i>
            <i class="skill devicon-sass-original"data-bs-toggle="tooltip" data-placement="top" title="Sass"></i>
            <i class="skill devicon-javascript-plain" data-bs-toggle="tooltip" data-placement="top" title="ES6+"></i>
            <i class="skill devicon-react-original" data-bs-toggle="tooltip" data-placement="top" title="ReactJS"></i>
            <i class="skill devicon-webpack-plain" data-bs-toggle="tooltip" data-placement="top" title="Webpack"></i>
          </div> -->
          <!-- <div class="skills-heading">Back-End</div> -->
          <!-- <div class="skills-group backend-skill">
            <i class="skill devicon-python-plain" data-bs-toggle="tooltip" data-placement="top" title="Python"></i>
            <i class="skill devicon-nodejs-plain" data-bs-toggle="tooltip" data-placement="top" title="NodeJS"></i>
            <i class="skill devicon-mysql-plain-wordmark" data-bs-toggle="tooltip" data-placement="top" title="MySQL"></i>
            <i class="skill devicon-mongodb-plain-wordmark" data-bs-toggle="tooltip" data-placement="top" title="MongoDB"></i>
          </div> -->
          <!-- <div class="skills-heading">Other Tools</div> -->
          <!-- <div class="skills-group tools-skills">
            <i class="skill devicon-git-plain" data-bs-toggle="tooltip" data-placement="bottom" title="Git"></i>
            <i class="skill devicon-github-original" data-bs-toggle="tooltip" data-placement="bottom" title="Github"></i>
            <i class="skill devicon-xd-line" data-bs-toggle="tooltip" data-placement="bottom" title="Adobe XD"></i>
            <i class="skill devicon-illustrator-line" data-bs-toggle="tooltip" data-placement="bottom" title="Illustrator"></i>
            <i class="skill devicon-photoshop-line" data-bs-toggle="tooltip" data-placement="bottom" title="Photoshop"></i>
          </div>
        </section> -->
        <section id="contact-section" class="contact-section row">
          <div class="contact-header"></div>
          <div class="contact-text col-md-12 col-lg-6">
            <div class="contact-text-header">
              <h2>Visit my GitHub page</h2>
            </div>
            <div class="contact-text-btns">
              <a 
                href="https://github.com/HenryLodge"
                target="_blank"
                rel="noopener noreferrer">
                <i class="skill devicon-github-original"></i>
              </a>
            </div>
          </div>
          <div class="contact-form col-md-12 col-lg-6">
            <form
              action="https://formkeep.com/f/4905d1209423"
              accept-charset="UTF-8"
              enctype="multipart/form-data"
              method="POST"
              target="_blank"
            >
              <div class="mb-3 form-floating form-item">
                <input
                  type="name"
                  name="name"
                  class="form-control form-name"
                  id="formName"
                  placeholder="Name"
                  required
                />
                <label for="formName" class="form-label">Name</label>
              </div>
              <div class="mb-3 form-floating form-item">
                <input
                  type="email"
                  name="email"
                  class="form-control form-email form-input"
                  id="formEmail"
                  placeholder="Email"
                  required
                />
                <label for="formEmail" class="form-label">Email</label>
              </div>
              <div class="mb-3 form-floating form-item">
                <textarea
                  class="form-control form-message"
                  name="body"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea">Message</label>
              </div>
              <button type="submit" class="form-btn btn">Send</button>
            </form>
          </div>
        </section>
      </main>
      <footer>
        <hr />
        <div class="footer-text container">
        </div>
      </footer>
    </div>
    <script>
      // boostrap tooltip function
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
  </body>
</html>
